#
# Buildout to create toplone command which uploads Sphinx documentation to Plone site
#
[buildout]
parts = 
        sphinx 

sources = sources
sources-dir = ${buildout:directory}/src


[sphinx]
recipe = collective.recipe.sphinxbuilder
#doc-directory = .
#outputs = html
source = ${buildout:directory}/source
build = ${buildout:directory}/build
eggs =
  Sphinx
  Docutils
  roman
  Pygments
  collective.sphinx.includedoc
  collective.sphinx.autoatschema

[versions]
collective.recipe.sphinxbuilder = 0.8.2
Sphinx = 1.2

